doctype html
html(lang='en')
  head
    title Tip Calculator
    link(href='/style.css', rel='stylesheet')
  body
    h1 Tip Calculator
    form(action='/tipcalc', method='post')
      #amt
        label Amount
        input(type='number', name='amount', value=0)
      #tip
        label Tip
        select(name='tip')
          each tip, i in tips
            option(value=i) #{tip}
      button(type='submit') Compute Tip

    #result
      label Result $ #{result}
